// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 * Copyright 2025 ONPOOM
 */

 /* TODO
  * 
  * [] 2026.01.30 - 노드 별 인터럽트 및 리셋 핀에 대한 PAD 설정 확인 (핀 민감도 제거 및 신호 안정성 적용 고려하여)
  *
  */

/dts-v1/;

#include "imx8mp-onpoom-som.dts"
#include <dt-bindings/leds/common.h>

/ {
	model = "NXP i.MX8MPlus ONPOOM I24";
	compatible = "fsl,imx8mp-evk", "fsl,imx8mp", "onpoom,imx8mp-onpoom-som";

	reg_can1_stby: regulator-can1-stby {
		compatible = "regulator-fixed";
		regulator-name = "can1-stby";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_flexcan1_reg>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio5 5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_can2_stby: regulator-can2-stby {
		compatible = "regulator-fixed";
		regulator-name = "can2-stby";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_flexcan2_reg>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 30 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		regulator-name = "VSD2_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 19 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

    reg_dummy1: regulator-dummy1 {
        compatible = "regulator-fixed";
        regulator-name = "ads7830-vref";
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
    };

	// reg_panel_pwr: regulator-panel-pwr {
	// 	compatible = "regulator-fixed";
	// 	pinctrl-names = "default";
	// 	pinctrl-0 = <&pinctrl_panel_reg>;
	// 	regulator-name = "PANEL_PWR_1V8";
	// 	regulator-min-microvolt = <1800000>;
	// 	regulator-max-microvolt = <1800000>;
	// 	gpio = <&gpio2 4 GPIO_ACTIVE_HIGH>;
	// 	//gpio = <&gpio4 28 GPIO_ACTIVE_HIGH>;
	// 	//gpio = <&mcp23017_3 2 GPIO_ACTIVE_HIGH>;
	// 	// gpio = <&mcp23017_2 8 GPIO_ACTIVE_HIGH>;
	// 	enable-active-high;
	// };

	// max98357a: max98357a {
	// 	#sound-dai-cells = <0>;
	// 	compatible = "maxim,max98357a";
	// 	//pinctrl-names = "default";
	// 	//pinctrl-0;
	// 	//sdmode-gpios;
	// 	status = "okay";
	// };

	// sound-max98357a {
	// 	compatible = "simple-audio-card";
	// 	simple-audio-card,name = "max98357a-audio";
	// 	simple-audio-card,format = "i2s";
	// 	simple-audio-card,bitclock-master = <&sai3cpu>;
	// 	simple-audio-card,frame-master = <&sai3cpu>;
	// 	simple-audio-card,routing = 
	// 				"SD_MODE", "HiFi Playback",
	// 				"Speaker", "SD_MODE";

	// 	sai3cpu: simple-audio-card,cpu {
	// 		sound-dai = <&sai3>;
	// 	};

	// 	simple-audio-card,codec {
	// 		sound-dai = <&max98357a>;
	// 	};
	// };

    /* Monitor Speaker */
    bd28623: bd28623 {
		#sound-dai-cells = <0>;
        compatible = "rohm,bd28623";
        // reset-gpios = <&mcp23017_3_0 10 GPIO_ACTIVE_LOW>;
        // mute-gpios = <&mcp23017_3_0 9 GPIO_ACTIVE_LOW>;
    };

	sound-bd28623 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "bd28623-audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&sai3cpu>;
		simple-audio-card,frame-master = <&sai3cpu>;

		sai3cpu: simple-audio-card,cpu {
			sound-dai = <&sai3>;
		};

		simple-audio-card,codec {
			sound-dai = <&bd28623>;
		};
	};

	// sound-adau1442 {
	// 	compatible = "simple-audio-card";
	// 	simple-audio-card,name = "adau1442-audio";
	// 	simple-audio-card,format = "i2s";
	// 	simple-audio-card,bitclock-master = <&sai3cpu>;
	// 	simple-audio-card,frame-master = <&sai3cpu>;

	// 	sai3cpu: simple-audio-card,cpu {
	// 		sound-dai = <&sai3>;
	// 	};

	// 	simple-audio-card,codec {
	// 		sound-dai = <&adau1442>;
	// 	};
	// };

	dir9001: dir9001 {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dir";
		status = "okay";
	};

	sound-dir9001 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "dir9001-audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dir9001_codec>;
		simple-audio-card,frame-master = <&dir9001_codec>;
		/* Later, will add gpio control function,
		 * example, for i2s signal enable pin.
		 */
		simple-audio-card,routing = 
					"Capture", "spdif-in";

		simple-audio-card,cpu {
			sound-dai = <&sai2>;
		};

		dir9001_codec: simple-audio-card,codec {
			sound-dai = <&dir9001>;
		};
	};

	// sound-xcvr {
	// 	compatible = "fsl,imx-audio-card";
	// 	model = "imx-audio-xcvr";
	// 	pri-dai-link {
	// 		link-name = "XCVR PCM";
	// 		cpu {
	// 			sound-dai = <&xcvr>;
	// 		};
	// 	};
	// };
/*
	lvds_backlight: lvds_backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm2 0 100000>;
		status = "disabled";

		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				     10 11 12 13 14 15 16 17 18 19
				     20 21 22 23 24 25 26 27 28 29
				     30 31 32 33 34 35 36 37 38 39
				     40 41 42 43 44 45 46 47 48 49
				     50 51 52 53 54 55 56 57 58 59
				     60 61 62 63 64 65 66 67 68 69
				     70 71 72 73 74 75 76 77 78 79
				     80 81 82 83 84 85 86 87 88 89
				     90 91 92 93 94 95 96 97 98 99
				    100>;
		default-brightness-level = <80>;
	};
*/
	lvds-panel {
		compatible = "solics,ec101-1024600w-d025";
		status = "okay";
		// power-supply = <&reg_panel_pwr>;

		port {
			lvds0_in: endpoint {
				remote-endpoint = <&lvds0_out>;
			};
		};
	};

	rotary-encoder {
		compatible = "rotary-encoder";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rotary_encoder>;
		gpios = <&gpio5 26 GPIO_ACTIVE_LOW>, <&gpio5 27 GPIO_ACTIVE_LOW>;
		linux,axis = <0>;
		rotary-encoder,steps-per-period = <1>;
		rotary-encoder,encoding = "gray";
		rotary-encoder,relative-axis;
		rotary-encoder,push-button;
		pb-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
	};
};

&pwm_leds {
	cpld-osc {
		label = "cpld-oscillator";
		pwms = <&pwm4 0 100000000>;
		max-brightness = <100>;
	};
};

&flexspi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi0>;
	status = "okay";

	flash0: mt25qu256aba@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <80000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
	};
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	xceiver-supply = <&reg_can1_stby>;
	status = "okay";
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	xceiver-supply = <&reg_can2_stby>;
	//pinctrl-assert-gpios = <&pca6416 3 GPIO_ACTIVE_HIGH>;
	status = "okay";/* can2 pin conflict with pdm */
};

&dsp {
	status = "okay";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};

&aud2htx {
	status = "okay";
};

&ecspi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2 &pinctrl_ecspi2_cs>;
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>;
	status = "okay";

    sc16is762: sc16is762@0 {
        compatible = "nxp,sc16is762";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_sc16is762>;
        reg = <0>;
        clock-frequency = <1843200>;
        interrupt-parent = <&gpio3>;
        interrupts = <21 IRQ_TYPE_LEVEL_LOW>;
        reset-gpios = <&gpio4 20 GPIO_ACTIVE_LOW>;
        gpio-controller;
        #gpio-cells = <2>;
    };

	// gpiom1: gpio@0 {
	// 	reg = <0>;
	// 	compatible = "microchip,mcp23s17";
	// 	pinctrl-names = "default";
	// 	pinctrl-0 = <&pinctrl_mcp23s17>;
	// 	gpio-controller;
	// 	#gpio-cells = <2>;
	// 	/* for h/w address pin a2, a1, a0
	// 	 * if 0b100(a2(1), a1(0), a0(0)) excluded fixed-bit, 
	// 	 * address is 4, So, mask is 0b00010000 (4th bit to 1).
	// 	 * therefore, mask is 0x10.
	// 	 */
	// 	microchip,spi-present-mask = <0x10>;
	// 	//interrupt-parent;
	// 	//interrupts;
	// 	//microchip,irq-mirror;
	// 	reset-gpios = <&gpio4 24 GPIO_ACTIVE_LOW>;
	// 	spi-max-frequency = <1000000>;		/* 10mhz */
	// };
/*
	spidev1: spi@1 {
		reg = <1>;
		compatible = "rohm,dh2228fv";
	};
*/
};

&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	snps,force_thresh_dma_mode;
	snps,mtl-tx-config = <&mtl_tx_setup>;
	snps,mtl-rx-config = <&mtl_rx_setup>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			//reg = <0>;
            interrupt-parent = <&gpio3>;
            // interrupts = <22 IRQ_TYPE_EDGE_FALLING>;
            interrupts = <22 IRQ_TYPE_LEVEL_LOW>;
            // interrupt-parent = <&gpio4>;
            // interrupts = <3 IRQ_TYPE_EDGE_FALLING>;
			eee-broken-1000t;
			reset-gpios = <&gpio3 23 GPIO_ACTIVE_LOW>;
			reset-assert-us = <10000>;
			reset-deassert-us = <20000>;
			qca,disable-smarteee;
		};
	};

	mtl_tx_setup: tx-queues-config {
		snps,tx-queues-to-use = <5>;
		snps,tx-sched-sp;
		queue0 {
			snps,dcb-algorithm;
			snps,priority = <0x1>;
		};
		queue1 {
			snps,dcb-algorithm;
			snps,priority = <0x2>;
		};
		queue2 {
			snps,dcb-algorithm;
			snps,priority = <0x4>;
		};
		queue3 {
			snps,dcb-algorithm;
			snps,priority = <0x8>;
		};
		queue4 {
			snps,dcb-algorithm;
			snps,priority = <0xf0>;
		};
	};
	mtl_rx_setup: rx-queues-config {
		snps,rx-queues-to-use = <5>;
		snps,rx-sched-sp;
		queue0 {
			snps,dcb-algorithm;
			snps,priority = <0x1>;
			snps,map-to-dma-channel = <0>;
		};
		queue1 {
			snps,dcb-algorithm;
			snps,priority = <0x2>;
			snps,map-to-dma-channel = <1>;
		};
		queue2 {
			snps,dcb-algorithm;
			snps,priority = <0x4>;
			snps,map-to-dma-channel = <2>;
		};
		queue3 {
			snps,dcb-algorithm;
			snps,priority = <0x8>;
			snps,map-to-dma-channel = <3>;
		};
		queue4 {
			snps,dcb-algorithm;
			snps,priority = <0xf0>;
			snps,map-to-dma-channel = <4>;
		};
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
	fsl,magic-packet;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy1: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			// reg = <4>;
            interrupt-parent = <&gpio4>;
            // interrupts = <3 IRQ_TYPE_EDGE_FALLING>;
            interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
            // interrupt-parent = <&gpio3>;
            // interrupts = <22 IRQ_TYPE_EDGE_FALLING>;
			eee-broken-1000t;
			reset-gpios = <&gpio4 1 GPIO_ACTIVE_LOW>;
			reset-assert-us = <10000>;
			reset-deassert-us = <20000>;
			qca,disable-smarteee;
		};
	};
};

&i2c2 {
	gt928: touchscreen@5d {
		compatible = "goodix,gt928";
		reg = <0x5d>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ts>;
		interrupt-parent = <&gpio1>;
		interrupts = <5 IRQ_TYPE_EDGE_FALLING>;
		irq-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
        // interrupt-parent = <&gpio4>;
		// interrupts = <25 IRQ_TYPE_EDGE_FALLING>;
		// irq-gpios = <&gpio4 25 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
		//reset-gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>;
		edge-failling-trigger;
		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
	};

	lp8866: led-driver@2a {
		compatible = "ti,lp8864";
		reg = <0x2a>;
		// pinctrl-names = "default";
        // enable-gpios = <&mcp23017_3_0 1 GPIO_ACTIVE_HIGH>;

        led {
            function = LED_FUNCTION_BACKLIGHT;
            color = <LED_COLOR_ID_WHITE>;
            linux,default-trigger = "backlight";
        };
	};
};

&i2c3 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	adau1442: dsp@38 {
        #sound-dai-cells = <0>;
		compatible = "adi,adau1442";
		reg = <0x38>;
		pinctrl-names = "default";
        status = "disabled";
	};
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";

	pca9548: i2c-mux@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		reset-gpios = <&gpio4 19 GPIO_ACTIVE_LOW>;
        idle-state;
		i2c-mux-idle-disconnect;		/* when devices are same addr, this option is useful. */

		/* MCU channel */
        /* i2c-6 */
		i2c@0 {
            #address-cells = <1>;
            #size-cells = <0>;
			reg = <0>;

			ina260_0: power-sensor@40 {
				compatible = "ti,ina260";
				reg = <0x40>;
			};

			/* Afterwards, the interrupt method is considered to change from edge to level because of numorous i2c-io expander. */
			/* labeling... */
			mcp23017_0: gpio@20 {
				compatible = "microchip,mcp23017";
				reg = <0x20>;
				pinctrl-name = "default";
				pinctrl-0 = <&pinctrl_mcp23017_0>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&gpio1>;
				interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
				// reset-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
                drive-open-drain;
                microchip,irq-mirror;
                // gpio-line-names = 
                //     "a", "b", "c", "d", 
                //     "e", "f", "g", "h", 
                //     "i", "j", "k", "l", 
                //     "m", "n", "o", "p";
			};

			tmp102_0: temper-sensor@48 {
				compatible = "ti,tmp102";
				reg = <0x48>;
			};
		};

		/* SAT channel */
        /* i2c-7 */
		i2c@1 {
            #address-cells = <1>;
            #size-cells = <0>;
			reg = <1>;

			ina260_1: power-sensor@40 {
				compatible = "ti,ina260";
				reg = <0x40>;
			};

			mcp23017_1: gpio@20 {
				compatible = "microchip,mcp23017";
				reg = <0x20>;
				pinctrl-name = "default";
				pinctrl-0 = <&pinctrl_mcp23017_1>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&gpio2>;
				interrupts = <11 IRQ_TYPE_LEVEL_LOW>;
				reset-gpios = <&gpio2 5 GPIO_ACTIVE_LOW>;
                drive-open-drain;
                microchip,irq-mirror;
                label = "mcp23017_1";
                // gpio-line-names = 
                //     "", "b", "c", "d", 
                //     "e", "f", "g", "h", 
                //     "i", "j", "k", "l", 
                //     "m", "n", "o", "p";
                // pins = "gpio0", "gpio1", "gio02", "io03", 
            //         "io04","io05", "io06", "gio07", 
            //         "io08","io09", "io10", "gio11", 
            //         "io12","io13", "io14", "io15";
			};

			tmp102_1: temper-sensor@48 {
				compatible = "ti,tmp102";
				reg = <0x48>;
			};
		};

		/* PMU channel */
        /* i2c-8 */
		i2c@2 {
            #address-cells = <1>;
            #size-cells = <0>;
			reg = <2>;

			ina260_2: power-sensor@40 {
				compatible = "ti,ina260";
				reg = <0x40>;
			};

			mcp23017_2: gpio@20 {
				compatible = "microchip,mcp23017";
				reg = <0x20>;
				pinctrl-name = "default";
				pinctrl-0 = <&pinctrl_mcp23017_2>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&gpio2>;
				interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
				reset-gpios = <&gpio2 6 GPIO_ACTIVE_LOW>;
                drive-open-drain;
                microchip,irq-mirror;
                // gpio-line-names = 
                //     "a", "b", "c", "d", 
                //     "e", "f", "g", "h", 
                //     "i", "j", "k", "l", 
                //     "m", "n", "o", "p";
			};

			tmp102_2: temper-sensor@48 {
				compatible = "ti,tmp102";
				reg = <0x48>;
			};
		};

		/* FCU channel */
        /* i2c-9 */
		i2c@3 {
            #address-cells = <1>;
            #size-cells = <0>;
			reg = <3>;

			ina260_3: power-sensor@40 {
				compatible = "ti,ina260";
				reg = <0x40>;
			};

			mcp23017_3_0: gpio@20 {
				compatible = "microchip,mcp23017";
				reg = <0x20>;
				// pinctrl-name = "default";
				// pinctrl-0 = <&pinctrl_mcp23017_3>;
				gpio-controller;
				#gpio-cells = <2>;
				// interrupt-controller;
				// #interrupt-cells = <2>;
				// interrupt-parent = <&gpio2>;
				// interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
				reset-gpios = <&gpio2 7 GPIO_ACTIVE_LOW>;
                drive-open-drain;
                // microchip,irq-mirror;
			};

			mcp23017_3_1: gpio@21 {
				compatible = "microchip,mcp23017";
				reg = <0x21>;
				pinctrl-name = "default";
				pinctrl-0 = <&pinctrl_mcp23017_3>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&gpio2>;
				interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
				// reset-gpios = <&gpio2 7 GPIO_ACTIVE_LOW>;
                drive-open-drain;
                microchip,irq-mirror;
			};

			tmp102_3: temper-sensor@48 {
				compatible = "ti,tmp102";
				reg = <0x48>;
			};

            ads7830: adc@49 {
                compatible = "ti,ads7830";
                reg = <0x49>;
                vref-supply = <&reg_dummy1>;
            };
		};

		/* option channel */
        /* i2c-10 */
		i2c@4 {
            #address-cells = <1>;
            #size-cells = <0>;
			reg = <4>;

			mcp23017_4: gpio@20 {
				compatible = "microchip,mcp23017";
				reg = <0x20>;
				// pinctrl-name = "default";
				// pinctrl-0 = <&pinctrl_mcp23017_5>;
				gpio-controller;
				#gpio-cells = <2>;
				// interrupt-controller;
				// #interrupt-cells = <2>;
				// interrupt-parent = <&gpio2>;
				// interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
				// reset-gpios = <&gpio2 8 GPIO_ACTIVE_LOW>;
			};
		};

		/* WTI channel */
        /* i2c-11 */
		i2c@5 {
            #address-cells = <1>;
            #size-cells = <0>;
			reg = <5>;

			ina260_5: power-sensor@40 {
				compatible = "ti,ina260";
				reg = <0x40>;
			};

			mcp23017_5: gpio@20 {
				compatible = "microchip,mcp23017";
				reg = <0x20>;
				pinctrl-name = "default";
				pinctrl-0 = <&pinctrl_mcp23017_5>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&gpio2>;
				interrupts = <1 IRQ_TYPE_LEVEL_LOW>;
				reset-gpios = <&gpio2 8 GPIO_ACTIVE_LOW>;
                drive-open-drain;
                microchip,irq-mirror;
			};

			tmp102_5: temper-sensor@48 {
				compatible = "ti,tmp102";
				reg = <0x48>;
			};
		};

		/* WVU channel */
        /* 12c-12 */
		i2c@6 {
            #address-cells = <1>;
            #size-cells = <0>;
			reg = <6>;

			ina260_6: power-sensor@40 {
				compatible = "ti,ina260";
				reg = <0x40>;
			};

			mcp23017_6: gpio@20 {
				compatible = "microchip,mcp23017";
				reg = <0x20>;
				pinctrl-name = "default";
				pinctrl-0 = <&pinctrl_mcp23017_6>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&gpio2>;
				interrupts = <2 IRQ_TYPE_LEVEL_LOW>;
				reset-gpios = <&gpio2 9 GPIO_ACTIVE_LOW>;
                drive-open-drain;
                microchip,irq-mirror;
			};

			tmp102_6: temper-sensor@48 {
				compatible = "ti,tmp102";
				reg = <0x48>;
			};
		};

		/* APU channel */
        /* 12c-13 */
		i2c@7 {
            #address-cells = <1>;
            #size-cells = <0>;
			reg = <7>;

			ina260_7: power-sensor@40 {
				compatible = "ti,ina260";
				reg = <0x40>;
                //status = "disabled";
			};

			mcp23017_7_0: gpio@20 {
				compatible = "microchip,mcp23017";
				reg = <0x20>;
				// pinctrl-name = "default";
				// pinctrl-0 = <&pinctrl_mcp23017_7>;
				gpio-controller;
				#gpio-cells = <2>;
				// interrupt-controller;
				// #interrupt-cells = <2>;
				// interrupt-parent = <&gpio2>;
				// interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
				reset-gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
                drive-open-drain;
                // microchip,irq-mirror;
			};

			mcp23017_7_1: gpio@21 {
				compatible = "microchip,mcp23017";
				reg = <0x21>;
				pinctrl-name = "default";
				pinctrl-0 = <&pinctrl_mcp23017_7>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupt-parent = <&gpio2>;
				interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
				// reset-gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
                drive-open-drain;
                microchip,irq-mirror;
			};

			tmp102_7: temper-sensor@48 {
				compatible = "ti,tmp102";
				reg = <0x48>;
			};
		};
	};
};

&irqsteer_hdmi {
	status = "disabled";
};

&hdmi_blk_ctrl {
	status = "disabled";
};

&hdmi_pavi {
	status = "disabled";
};

&hdmi {
	status = "disabled";
};

&hdmiphy {
	status = "disabled";
};

/* hdmi, mipi 관련 lcdif disabled 할 것 */
&lcdif1 {
	status = "okay";
};

&lcdif2 {
	status = "okay";
};

&lcdif3 {
	status = "disabled";

	thres-low  = <1 2>;             /* (FIFO * 1 / 2) */
	thres-high = <3 4>;             /* (FIFO * 3 / 4) */
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";

		port@1 {
			reg = <1>;

			lvds0_out: endpoint {
				remote-endpoint = <&lvds0_in>;
			};
		};
	};
};

&ldb_phy {
	status = "okay";
};

&easrc {
	fsl,asrc-rate  = <48000>;
	status = "okay";
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	//disable-gpio = <&gpio2 6 GPIO_ACTIVE_LOW>;
	//reset-gpio = <&gpio2 7 GPIO_ACTIVE_LOW>;
	ext_osc = <1>;
	clocks = <&clk IMX8MP_CLK_HSIO_ROOT>,
		 <&clk IMX8MP_CLK_PCIE_AUX>,
		 <&clk IMX8MP_CLK_HSIO_AXI>,
		 <&clk IMX8MP_CLK_PCIE_ROOT>;
	clock-names = "pcie", "pcie_aux", "pcie_phy", "pcie_bus";
	assigned-clocks = <&clk IMX8MP_CLK_HSIO_AXI>,
			  <&clk IMX8MP_CLK_PCIE_AUX>;
	assigned-clock-rates = <500000000>, <10000000>;
	assigned-clock-parents = <&clk IMX8MP_SYS_PLL2_500M>,
				 <&clk IMX8MP_SYS_PLL2_50M>;
	l1ss-disabled;
	status = "disabled";
};

&pcie_ep {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	ext_osc = <1>;
	clocks = <&clk IMX8MP_CLK_HSIO_ROOT>,
		 <&clk IMX8MP_CLK_PCIE_AUX>,
		 <&clk IMX8MP_CLK_HSIO_AXI>,
		 <&clk IMX8MP_CLK_PCIE_ROOT>;
	clock-names = "pcie", "pcie_aux", "pcie_phy", "pcie_bus";
	assigned-clocks = <&clk IMX8MP_CLK_HSIO_AXI>,
			  <&clk IMX8MP_CLK_PCIE_AUX>;
	assigned-clock-rates = <500000000>, <10000000>;
	assigned-clock-parents = <&clk IMX8MP_SYS_PLL2_500M>,
				 <&clk IMX8MP_SYS_PLL2_50M>;
	status = "disabled";
};

&pcie_phy {
	ext_osc = <1>;
	status = "disabled";
};

&sai2 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	assigned-clocks = <&clk IMX8MP_CLK_SAI2>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
	//assigned-clock-rates = <12288000>;
	assigned-clock-rates = <24576000>;
	/* if no output for spdif ic, should be enable. */
	//fsl,sai-mclk-direction-output;
	fsl,sai-asynchronous;
	status = "okay";
};

&sai3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai3>;
	/* refer to imx8mp clock tree 
	 * sai1 clock referenced by sai1~7 mclk2.
	 * so, for 44100Hz, sai1 clock enable aduio_pll2 as parents
	 */
	assigned-clocks = <&clk IMX8MP_CLK_SAI3>, <&clk IMX8MP_CLK_SAI1>;
	// assigned-clocks = <&clk IMX8MP_CLK_DUMMY>, <&clk IMX8MP_CLK_SAI1>;
	// assigned-clocks = <&clk IMX8MP_CLK_AUDIO_BLK_CTRL_SAI3_MCLK1>, <&clk IMX8MP_CLK_AUDIO_BLK_CTRL_SAI3_MCLK2>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>, <&clk IMX8MP_AUDIO_PLL2_OUT>;
	// assigned-clock-parents = <&clk IMX8MP_CLK_DUMMY>, <&clk IMX8MP_AUDIO_PLL2_OUT>;
	assigned-clock-rates = <24576000>, <11289600>;
	//assigned-clock-rates = <11289600>;
	/*
	clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI3_IPG>, <&clk IMX8MP_CLK_DUMMY>,
		 <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI3_MCLK1>, <&clk IMX8MP_CLK_DUMMY>,
		 <&clk IMX8MP_CLK_DUMMY>;
	*/
	clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI3_IPG>, <&clk IMX8MP_CLK_DUMMY>,
		 <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI3_MCLK1>, <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI3_MCLK2>,
		 <&clk IMX8MP_CLK_DUMMY>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3";
	// fsl,sai-mclk-direction-output;
	#sound-dai-cells = <0>;
	status = "okay";
};

&xcvr {
	#sound-dai-cells = <0>;
	status = "okay";
};

&sdma2 {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	assigned-clocks = <&clk IMX8MP_CLK_UART1>;
	assigned-clock-parents = <&clk IMX8MP_SYS_PLL1_80M>;
	//fsl,uart-has-rtscts;
	status = "okay";
};

&usb3_phy1 {
	fsl,phy-tx-preemp-amp-tune = <3>;
	fsl,phy-tx-vref-tune = <0xb>;
	status = "okay";
};

&usb3_1 {
	status = "okay";
};

&usb_dwc3_1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb1_vbus>;
	dr_mode = "host";
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	assigned-clocks = <&clk IMX8MP_CLK_UART3>;
	assigned-clock-parents = <&clk IMX8MP_SYS_PLL1_80M>;
	//fsl,uart-has-rtscts;
	status = "okay";
};

&usdhc2 {
	assigned-clocks = <&clk IMX8MP_CLK_USDHC2>;
	assigned-clock-rates = <400000000>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	cd-gpios = <&gpio2 12 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	bus-width = <4>;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = <
            MX8MP_IOMUXC_GPIO1_IO00__GPIO1_IO00     0x10        /* CPLD RESET */
            MX8MP_IOMUXC_GPIO1_IO13__GPIO1_IO13     0x10        /* USB_HUB_RST */
            MX8MP_IOMUXC_GPIO1_IO14__GPIO1_IO14     0x10        /* #AMP_RST_C */
            MX8MP_IOMUXC_SD2_WP__GPIO2_IO20         0x10        /* C_#AMP_MUTE */
            MX8MP_IOMUXC_SAI5_RXFS__GPIO3_IO19      0x10        /* CPU_PLD_OUT */
            MX8MP_IOMUXC_SAI5_RXC__GPIO3_IO20       0x10        /* CPU_PLD_IN */
            MX8MP_IOMUXC_HDMI_DDC_SCL__GPIO3_IO26   0x10        /* DI_EAU_0 */
            MX8MP_IOMUXC_HDMI_DDC_SDA__GPIO3_IO27   0x10        /* DI_EAU_1 */
            MX8MP_IOMUXC_HDMI_CEC__GPIO3_IO28       0x10        /* DI_EAU_3 */
            MX8MP_IOMUXC_HDMI_HPD__GPIO3_IO29       0x10        /* DI_EAU_2 */
            MX8MP_IOMUXC_SAI1_RXFS__GPIO4_IO00      0x10        /* SPARE_IN_1 */
            MX8MP_IOMUXC_SAI1_TXD6__GPIO4_IO18      0x10        /* AMP485_TX_EN */
            // MX8MP_IOMUXC_SAI1_MCLK__GPIO4_IO20      0x10        /* SPARE_IN_2 -> SPI_RST */
            MX8MP_IOMUXC_SAI2_TXFS__GPIO4_IO24      0x10        /* DSP_PWR_nEN */
            MX8MP_IOMUXC_SAI2_TXC__GPIO4_IO25       0x10        /* DO_EAU_2 */
            MX8MP_IOMUXC_SAI2_TXD0__GPIO4_IO26      0x10        /* #AC_CUT_C */
            MX8MP_IOMUXC_SAI3_RXFS__GPIO4_IO28      0x10        /* DO_EAU_1 */
            MX8MP_IOMUXC_SAI3_RXC__GPIO4_IO29       0x10        /* DO_EAU_0 */
            MX8MP_IOMUXC_ECSPI1_MISO__GPIO5_IO08    0x10        /* #ST_BY1_C */
            MX8MP_IOMUXC_ECSPI1_SS0__GPIO5_IO09     0x10        /* #ST_BY2_C */
            MX8MP_IOMUXC_SAI1_RXD0__GPIO4_IO02      0x10        /* CHAR_RST_FEED */
        >;
	};

	pinctrl_pwm4: pwm4grp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO15__PWM4_OUT	0x116
		>;
	};

	pinctrl_ecspi2: ecspi2grp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI2_SCLK__ECSPI2_SCLK		0x82
			MX8MP_IOMUXC_ECSPI2_MOSI__ECSPI2_MOSI		0x82
			MX8MP_IOMUXC_ECSPI2_MISO__ECSPI2_MISO		0x82
		>;
	};

	pinctrl_ecspi2_cs: ecspi2cs {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI2_SS0__GPIO5_IO13		0x40000
		>;
	};

	pinctrl_eqos: eqosgrp {
		fsl,pins = <
			MX8MP_IOMUXC_ENET_MDC__ENET_QOS_MDC				0x2
			MX8MP_IOMUXC_ENET_MDIO__ENET_QOS_MDIO				0x2
			MX8MP_IOMUXC_ENET_RD0__ENET_QOS_RGMII_RD0			0x90
			MX8MP_IOMUXC_ENET_RD1__ENET_QOS_RGMII_RD1			0x90
			MX8MP_IOMUXC_ENET_RD2__ENET_QOS_RGMII_RD2			0x90
			MX8MP_IOMUXC_ENET_RD3__ENET_QOS_RGMII_RD3			0x90
			MX8MP_IOMUXC_ENET_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x90
			MX8MP_IOMUXC_ENET_RX_CTL__ENET_QOS_RGMII_RX_CTL			0x90
			MX8MP_IOMUXC_ENET_TD0__ENET_QOS_RGMII_TD0			0x16
			MX8MP_IOMUXC_ENET_TD1__ENET_QOS_RGMII_TD1			0x16
			MX8MP_IOMUXC_ENET_TD2__ENET_QOS_RGMII_TD2			0x16
			MX8MP_IOMUXC_ENET_TD3__ENET_QOS_RGMII_TD3			0x16
			MX8MP_IOMUXC_ENET_TX_CTL__ENET_QOS_RGMII_TX_CTL			0x16
			MX8MP_IOMUXC_ENET_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK	0x16
			MX8MP_IOMUXC_SAI5_RXD2__GPIO3_IO23		0x80    /* Reset */     /* HYS + Slow Slew */
            MX8MP_IOMUXC_SAI5_RXD1__GPIO3_IO22      0x80    /* Interrupt */ /* HYS  + Slow Slew */
		>;
	};

	pinctrl_fec: fecgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_RXD2__ENET1_MDC		0x2
			MX8MP_IOMUXC_SAI1_RXD3__ENET1_MDIO		0x2
			MX8MP_IOMUXC_SAI1_RXD4__ENET1_RGMII_RD0		0x90
			MX8MP_IOMUXC_SAI1_RXD5__ENET1_RGMII_RD1		0x90
			MX8MP_IOMUXC_SAI1_RXD6__ENET1_RGMII_RD2		0x90
			MX8MP_IOMUXC_SAI1_RXD7__ENET1_RGMII_RD3		0x90
			MX8MP_IOMUXC_SAI1_TXC__ENET1_RGMII_RXC		0x90
			MX8MP_IOMUXC_SAI1_TXFS__ENET1_RGMII_RX_CTL	0x90
			MX8MP_IOMUXC_SAI1_TXD0__ENET1_RGMII_TD0		0x16
			MX8MP_IOMUXC_SAI1_TXD1__ENET1_RGMII_TD1		0x16
			MX8MP_IOMUXC_SAI1_TXD2__ENET1_RGMII_TD2		0x16
			MX8MP_IOMUXC_SAI1_TXD3__ENET1_RGMII_TD3		0x16
			MX8MP_IOMUXC_SAI1_TXD4__ENET1_RGMII_TX_CTL	0x16
			MX8MP_IOMUXC_SAI1_TXD5__ENET1_RGMII_TXC		0x16
			MX8MP_IOMUXC_SAI1_RXC__GPIO4_IO01		0x80    /* Reset */
            MX8MP_IOMUXC_SAI1_RXD1__GPIO4_IO03      0x80    /* Interrupt */
		>;
	};

    pinctrl_pcie: pciegrp {
        fsl,pins = <
        >;
    };

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_RX__CAN1_RX          0x154
			MX8MP_IOMUXC_SPDIF_TX__CAN1_TX          0x154
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI5_MCLK__CAN2_RX         0x154
			MX8MP_IOMUXC_SAI5_RXD3__CAN2_TX         0x154
		>;
	};

	pinctrl_flexcan1_reg: flexcan1reggrp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_EXT_CLK__GPIO5_IO05  0x154   /* CAN1_STBY */
		>;
	};

	pinctrl_flexcan2_reg: flexcan2reggrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI3_RXD__GPIO4_IO30  	   0x154	/* CAN2_STBY */
		>;
	};

	// pinctrl_panel_reg: panelreggrp {
	// 	fsl,pins = <
	// 		MX8MP_IOMUXC_SD1_DATA2__GPIO2_IO04		0x10
	// 	>;
	// };

	pinctrl_flexspi0: flexspi0grp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_ALE__FLEXSPI_A_SCLK           0x1c2
			MX8MP_IOMUXC_NAND_CE0_B__FLEXSPI_A_SS0_B        0x82
			MX8MP_IOMUXC_NAND_DATA00__FLEXSPI_A_DATA00      0x82
			MX8MP_IOMUXC_NAND_DATA01__FLEXSPI_A_DATA01      0x82
			MX8MP_IOMUXC_NAND_DATA02__FLEXSPI_A_DATA02      0x82
			MX8MP_IOMUXC_NAND_DATA03__FLEXSPI_A_DATA03      0x82
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			// MX8MP_IOMUXC_I2C3_SCL__I2C3_SCL		0x400001c2
			// MX8MP_IOMUXC_I2C3_SDA__I2C3_SDA		0x400001c2
			MX8MP_IOMUXC_I2C3_SCL__I2C3_SCL		0x400000c2
			MX8MP_IOMUXC_I2C3_SDA__I2C3_SDA		0x400000c2
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			// MX8MP_IOMUXC_I2C4_SCL__I2C4_SCL		0x400001c2
			// MX8MP_IOMUXC_I2C4_SDA__I2C4_SDA		0x400001c2
			MX8MP_IOMUXC_I2C4_SCL__I2C4_SCL		0x400000c2
			MX8MP_IOMUXC_I2C4_SDA__I2C4_SDA		0x400000c2
		>;
	};

	pinctrl_sai2: sai2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI2_RXD0__AUDIOMIX_SAI2_RX_DATA00	0xd6
			MX8MP_IOMUXC_SAI2_RXC__AUDIOMIX_SAI2_RX_BCLK	0xd6
			MX8MP_IOMUXC_SAI2_RXFS__AUDIOMIX_SAI2_RX_SYNC	0xd6
			MX8MP_IOMUXC_SAI2_MCLK__AUDIOMIX_SAI2_MCLK		0xd6
		>;
	};

	pinctrl_sai3: sai3grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI3_TXFS__AUDIOMIX_SAI3_TX_SYNC	0xd6
			MX8MP_IOMUXC_SAI3_TXC__AUDIOMIX_SAI3_TX_BCLK	0xd6
			MX8MP_IOMUXC_SAI3_TXD__AUDIOMIX_SAI3_TX_DATA00	0xd6
			MX8MP_IOMUXC_SAI3_MCLK__AUDIOMIX_SAI3_MCLK	0xd6
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MP_IOMUXC_UART1_RXD__UART1_DCE_RX	0x140
			MX8MP_IOMUXC_UART1_TXD__UART1_DCE_TX	0x140
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI1_SCLK__UART3_DCE_RX		0x140
			MX8MP_IOMUXC_ECSPI1_MOSI__UART3_DCE_TX		0x140
		>;
	};

	pinctrl_usb1_vbus: usb1grp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO12__GPIO1_IO12		0x10
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CLK__USDHC2_CLK	0x190
			MX8MP_IOMUXC_SD2_CMD__USDHC2_CMD	0x1d0
			MX8MP_IOMUXC_SD2_DATA0__USDHC2_DATA0	0x1d0
			MX8MP_IOMUXC_SD2_DATA1__USDHC2_DATA1	0x1d0
			MX8MP_IOMUXC_SD2_DATA2__USDHC2_DATA2	0x1d0
			MX8MP_IOMUXC_SD2_DATA3__USDHC2_DATA3	0x1d0
			MX8MP_IOMUXC_GPIO1_IO04__USDHC2_VSELECT	0xc0
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2-100mhzgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CLK__USDHC2_CLK	0x194
			MX8MP_IOMUXC_SD2_CMD__USDHC2_CMD	0x1d4
			MX8MP_IOMUXC_SD2_DATA0__USDHC2_DATA0	0x1d4
			MX8MP_IOMUXC_SD2_DATA1__USDHC2_DATA1	0x1d4
			MX8MP_IOMUXC_SD2_DATA2__USDHC2_DATA2	0x1d4
			MX8MP_IOMUXC_SD2_DATA3__USDHC2_DATA3	0x1d4
			MX8MP_IOMUXC_GPIO1_IO04__USDHC2_VSELECT 0xc0
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2-200mhzgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CLK__USDHC2_CLK	0x196
			MX8MP_IOMUXC_SD2_CMD__USDHC2_CMD	0x1d6
			MX8MP_IOMUXC_SD2_DATA0__USDHC2_DATA0	0x1d6
			MX8MP_IOMUXC_SD2_DATA1__USDHC2_DATA1	0x1d6
			MX8MP_IOMUXC_SD2_DATA2__USDHC2_DATA2	0x1d6
			MX8MP_IOMUXC_SD2_DATA3__USDHC2_DATA3	0x1d6
			MX8MP_IOMUXC_GPIO1_IO04__USDHC2_VSELECT 0xc0
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CD_B__GPIO2_IO12	0x1c4
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmcgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_RESET_B__GPIO2_IO19	0x40
		>;
	};

	pinctrl_ts: tsgrp {
		fsl,pins = <
            MX8MP_IOMUXC_GPIO1_IO05__GPIO1_IO05     0x10
            MX8MP_IOMUXC_SD1_DATA2__GPIO2_IO04      0x10
		>;
	};

	pinctrl_rotary_encoder: rotaryencodergrp {
		fsl,pins = <
			MX8MP_IOMUXC_UART3_RXD__GPIO5_IO26		0x10	/* CLK_A_ROTARY */
			MX8MP_IOMUXC_UART3_TXD__GPIO5_IO27		0x10	/* CLK_B_ROTARY */
			MX8MP_IOMUXC_GPIO1_IO11__GPIO1_IO11		0x10	/* nPUSH_ROTARY */
		>;
	};

	/* MCU channel */
	pinctrl_mcp23017_0: mcp23017-0grp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO08__GPIO1_IO08		0x10	/* I2C_IO_INT */
			MX8MP_IOMUXC_GPIO1_IO07__GPIO1_IO07		0x10	/* I2C_IO_RST */
		>;
	};

	/* SAT channel */
	pinctrl_mcp23017_1: mcp23017-1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_STROBE__GPIO2_IO11		0x10	/* SAT_I2C_nINT */
			MX8MP_IOMUXC_SD1_DATA3__GPIO2_IO05		0x10	/* SAT_I2C_nRST */
		>;
	};

	/* PMU channel */
	pinctrl_mcp23017_2: mcp23017-2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_RESET_B__GPIO2_IO10	0x10	/* PMU_I2C_nINT */
			MX8MP_IOMUXC_SD1_DATA4__GPIO2_IO06		0x10	/* PMU_I2C_nRST */
		>;
	};

	/* FCU channel */
	pinctrl_mcp23017_3: mcp23017-3grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_CLK__GPIO2_IO00		0x10	/* FCU_I2C_nINT */
			MX8MP_IOMUXC_SD1_DATA5__GPIO2_IO07		0x10	/* FCU_I2C_nRST */
		>;
	};

	/* WTI channel */
	pinctrl_mcp23017_5: mcp23017-5grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_CMD__GPIO2_IO01		0x10	/* WTI_I2C_nINT */
			MX8MP_IOMUXC_SD1_DATA6__GPIO2_IO08		0x10	/* WTI_I2C_nRST */
		>;
	};

	/* WVU channel */
	pinctrl_mcp23017_6: mcp23017-6grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_DATA0__GPIO2_IO02		0x10	/* WVU_I2C_nINT */
			MX8MP_IOMUXC_SD1_DATA7__GPIO2_IO09		0x10	/* WVU_I2C_nRST */
		>;
	};

	/* APU channel */
	pinctrl_mcp23017_7: mcp23017-7grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_DATA1__GPIO2_IO03		0x10	/* APU_I2C_nINT */
			MX8MP_IOMUXC_GPIO1_IO06__GPIO1_IO06		0x10	/* APU_I2C_nRST */
		>;
	};

    pinctrl_sc16is762: sc16is762grp {
        fsl,pins = <
            MX8MP_IOMUXC_SAI5_RXD0__GPIO3_IO21      0x80    /* SPI_INT */
            MX8MP_IOMUXC_SAI1_MCLK__GPIO4_IO20      0x80    /* SPI_RST */
        >;
    };
};

&vpu_g1 {
	status = "okay";
};

&vpu_g2 {
	status = "okay";
};

&vpu_vc8000e {
	status = "okay";
};

&vpu_v4l2 {
	status = "okay";
};

&gpu_3d {
	status = "okay";
};

&gpu_2d {
	status = "okay";
};

&ml_vipsi {
	status = "okay";
};

&mix_gpu_ml {
	status = "okay";
};
